.Container_pizza {
  width: 100%;
  max-width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 1rem 0rem;
  border: 5px solid rgba(241, 176, 76, 0.3);
  align-items: center;
  align-content: space-between;

  > .Card_pizza {
    width: 30%;
    max-width: 30%;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 0.5rem;
    padding-bottom: 1.5rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      width: 45%;
      max-width: 45%;
    }

    @media (max-width: 480px) {
      width: 100%;
      max-width: 100%;
    }

    > .img_pizza {
      width: 100%;
      height: 15rem;
      object-fit: cover;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
    > .title_pizza {
      font-size: 1.3rem;
      padding: 1rem;
      border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    }
    > .ingedients_pizza {
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      text-align: center;
      padding: 1.5rem;
      border-bottom: 1px solid rgba(128, 128, 128, 0.5);

      > h3 {
        font-weight: 100;
      }

      > h4 {
        display: flex;
        font-weight: 100;

        > img {
          width: 100%;
          max-width: 1rem;
          margin-right: 0.2rem;
        }
        > ul {
          display: flex;
          flex-wrap: wrap;
          > li {
            list-style: none;
            margin: 0rem 0.2rem;
          }
        }
      }
    }
    > .price_pizza {
      padding: 1rem;
      font-size: 1.4rem;
      text-align: center;
    }
    > .buttons_pizza {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;

      > .btn {
        border-radius: 0.5rem;
        padding: 0.3rem 0.6rem;
        display: flex;
        align-items: center;
        cursor: pointer;

        > img {
          width: 100%;
          max-width: 1rem;
          margin-left: 0.2rem;
        }
      }
      > .btn:nth-child(1) {
        border: 2px solid #000;
        background-color: transparent;
        color: #000;
      }

      > .btn:nth-child(1):hover {
        color: rgb(128, 128, 128);
        border: 2px solid rgb(128, 128, 128);
      }

      > .btn:nth-child(2) {
        border: 1px solid #fff;
        background-color: #000;
        color: #fff;
      }

      > .btn:nth-child(2):hover {
        color: rgb(187, 187, 187);
        border: 1px solid #fff;
      }
    }
  }
}
